rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {

    match /enquiries/{id} {
      allow read: if resource.data.isPublished == true;
      allow write: if false;
    
      match /meta/{doc} {
        allow read, write: if false;
      }
      
      match /responses/{responseId} {
      	allow read: if resource.data.isPublished == true;
      	allow write: if false;
        
        match /meta/{doc} {
        	allow read, write: if false;
      	}
        
        match /comments/{commentId} {
      		allow read: if resource.data.isPublished == true;
      		allow write: if false;
        
          match /meta/{doc} {
            allow read, write: if false;
          }
        }
      }
    }

    match /appData/{doc} {
      allow read, write: if false;
    }
  }
}
